@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lista para colocar no projeto</h1>
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Paginas</th>
      <th scope="col">Funções</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Batalhas</td>
      <td>CRUD</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Herois Batalhas</td>
      <td>Utilizar o modelo ORM do EF</td>
    </tr>
  </tbody>
</table>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
